<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mx-auto text-center">
                          <!-- <Button Class="btn btn-info" Text="Tutor SignUp" Font-Bold="true"><Button> -->
                          <Button Class="btn btn-primary" Text="Student SignUp" Font-Bold="true" >Student SignUp</Button>
                        </div>
                    </div>



                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-6 mx-auto text-center">

                            <Button Class="btn btn-info" Text="Tutor SignUp" Font-Bold="true">Tutor SignUp</Button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<br />
<br />
<br />
